#anchor-navigation-ex-navbar {
    border: none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    top: 20px;
    right: 20px;
}

#anchorNavigationExGoTop {
    border: none;
    bottom: 30px;
    right: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
}
